{
  "genesis_time": "0001-01-01T00:00:00Z",
  "chain_id": "dposv2",
  "validators": [
    {
      "name": "",
      "power": "10",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "yC1ZAMPKecOtCfBqk0Z0Jh2itcpBZueOehnCtyRb0O8="
      }
    },
    {
      "name": "",
      "power": "10",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "NsOUCD4ZiyobzA06xZkverBR8p57Fl8qY0410ZKY0ZQ="
      }
    },
    {
      "name": "",
      "power": "10",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "lYGdZyuzLk3VOZ7KnpLMKE/EPGIOSCU8+N7G8biWPok="
      }
    },
    {
      "name": "",
      "power": "10",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "k2Uod0/yz5EC8J9b5k0AzSjXOAX1/0DDmxmZp6PXWPI="
      }
    }
  ],
  "app_hash": ""
}
